<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycle de développement</title>
    <link rel="shortcut icon" href="/img/15.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="/script.js"></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link href="css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/stylecycle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/img/16.png" alt="o" class="logo">
          <span>Olivie</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/index.ejs">Accueil</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Les étapes du olive
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/cycles">Les cyles</a></li>
              <li><a href="/etape2">Exigences Pedo-climatiques</a></li>
              <li><a href="/Plantation">Plantation</a></li>
              <li><a href="/etape4">Opération culturales</a></li>
              <li><a href="/Fertilisation">Fertilisation</a></li>
            </ul>
          </li>
          <li><a href="/Maladie">Les maladies</a></li>
          <li><a href="/finalisation">Finalisation</a></li>
          <li><button class="btn btn-default navbar-btn"><a href="/login">Login</a></button></li></a>
          <li><a href="#" class="dark-mode-toggle"><span class="glyphicon glyphicon-adjust"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="top-image-section">
    <img src="/img/cyc-dvpp-vf.png" alt="Top Image" class="zoom-image">
</div>
  <section class="spcl_section layout_padding" id="cycle">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail_container">
            <div class="detail-box">
              <h5>Cycle de développement</h5>
              <p>Depuis la multiplication et la plantation, le plant d’olivier passe par plusieurs étapes de développement. Nous distinguons principalement :
                Stade juvénile : C’est la période de croissance du jeune plant, elle commence en pépinière pour se terminer au verger. Elle est caractérisée par une multiplication cellulaire très active, surtout au niveau du système racinaire. Elle s’étend de la première à la septième année.
              </p>
            </div>
            <div class="detail-box">
              <h5>Période d’entrée en production :</h5>
              <p>Elle s’étend de l’apparition des premières productions fruitières jusqu'à l’aptitude de l’arbre à établir une production régulière et importante.
              </p>
            </div>
            <div class="detail-box">
              <h5>Période adulte || Période de sénescence </h5>
              <p>C’est la période de pleine production, car l’olivier atteint sa taille normale de développement ; et il y‘a un équilibre entre la végétation et la fructification. <br>
                C’est la phase de vieillissement qui se caractérise par une diminution progressive des récoltes. Cette phase peut être évitée par des tailles de régénération aux cours du cycle de développement du plant
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 ml-auto">
          <div class="img-box">
            <img src="/img/recote.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <section class="cycle-vegetatif" id="cycle-vegetatif">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="cycle-box">
                      <div class="cycle-content">
                          <h2>Cycle Végétatif</h2>
                          <p>Le plant de l'olivier passe par plusieurs étapes de développement durant son cycle annuel. Dans ce sens, nous distinguons principalement :</p>
                          <div class="cycle-steps">
                              <div class="step">
                                  <img src="img/rev.jpg" alt="Étape 1">
                                  <h4>Janvier, Février </h4>
                                  <p>Induction, Initiation et différenciation florale</p>
                              </div>
                              <div class="step">
                                  <img src="/img/stade 2.jpg" alt="Étape 2">
                                  <h4>Mars</h4>
                                  <p>Croissance et développement des inflorescences à l'aisselle des feuilles portées sur les rameaux de l'année précédente.</p>
                              </div>
                              <div class="step">
                                  <img src="/img/stade3.jpg" alt="Étape 3">
                                  <h4>Avril</h4>
                                  <p>Pleine floraison</p>
                              </div>
                              <div class="step">
                                  <img src="/img/stade4.jpg" alt="Étape 4">
                                  <h4>Fin avril-début Mai </h4>
                                  <p>Fécondation et Nouaison des fruits</p>
                              </div>
                              <div class="step">
                                  <img src="/img/stade5.jpg" alt="Étape 5">
                                  <h4>Juin </h4>
                                  <p>Début de développement et grossissement des fruits</p>
                              </div>
                              <div class="step">
                                  <img src="/img/stade6.jpg" alt="Étape 6">
                                  <h4>Septembre</h4>
                                  <p>Véraison</p>
                              </div>
                              <div class="step">
                                  <img src="/img/stade7.jpg" alt="Étape 7">
                                  <h4>Octobre</h4>
                                  <p>Maturation du fruit et son enrichissement en huile</p>
                              </div>
                              <div class="step">
                                  <img src="/img/stade8.jpg" alt="Étape 8">
                                  <h4>Mi-novembre à janvier </h4>
                                  <p>Récolte des fruits</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  
   
</html>