<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="\..\public\images\16.png" type="image/x-icon">
    <link href="/etap4.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="img\16.png" alt="Logo" class="logo">
                    <span>Olivier</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/index">Accueil</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Les étapes du olive
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/cycles">Les cycles</a></li>
                          <li><a href="/etape2">Exigences Pedo-climatiques</a></li>
                          <li><a href="/plantation">Plantation</a></li>
                          <li><a href="/etape4">Opération culturales</a></li>
                          <li><a href="/Fertilisation">Fertilisation</a></li>
                        </ul>
                    </li>
                    <li><a href="/Maladie">Les maladies</a></li>
                    <li><a href="/finalisation">Finalisation</a></li>
                    <li><a href="/login" class="btn btn-default navbar-btn">Login</a></li>
                    <li><a href="#" class="dark-mode-toggle"><span class="glyphicon glyphicon-adjust"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 style="color: green;">OPERATIONS CULTURALES</h1>
    <div>
        <img src="img\avap.jpg" class="img">
        <h2 style="margin-left: 1000px; margin-top: -300px; color: rgb(43, 185, 18);">Taille de l’olivier</h2>
        <p class="para">
            Dans un oliveraie,  l'opération de la taille est indispensable pour la formation, 
            la croissance et le développement de la plante. La taille consiste à éliminer des branches de 
            l’arbre afin d'orienter son développement et d’assurer également un équilibre entre les branches, 
            tiges de structure et les branches fructifères.  
        </p>
    </div>
    <p style="margin-top: 150px; justify-content: center; align-items: center; display: flex; font-size: 20px;">
        On distingue entre plusieurs types de taille selon l'objectif de celle-ci :
    </p>
    
    

    <div class="container">
        <div class="image">
          <a href="#">
            <img src="img\coupe.png" alt="Image 1">
            <div class="overlay">
              <h4>Taille de formation</h4>
              <p>La taille de formation est réalisée sur le jeune arbre,
                et a pour but de former un mono tronc en éliminant les branches afin de renforcer la ligne centrale.
                Quand le jeune olivier atteint 1,50 m, il convient de lui donner
                une forme équilibrée et rationnelle pour son exploitation.</p>
              <a href="#">Lien vers plus d'informations</a>
            </div>
          </a>
        </div>
      
        <div class="image">
          <a href="#">
            <img src="img\taille.png" alt="Image 2">
            <div class="overlay">
              <h4>Taille de fructification</h4>
              <p>La taille de fructification est limitée à l'entretien et à l'harmonisation.
                <br>
                Elle est annuelle et ne doit pas être trop sévère sinon elle irait à l'encontre
                 de la régulation de la production de l'olivier, mais les tailles successives améliorent les récoltes.</p>
              <a href="#">Lien vers plus d'informations</a>
            </div>
          </a>
        </div>
      </div>

      <h4 style="font-size: 30px; margin-left: 10px; color: rgb(43, 185, 18);">Taille de reprise ou de régénération</h4>
      <p style="margin-top: 30px; font-size: 20px; margin-left: 20px; margin-right: 20px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Généralement sévère, se pratique pour rénover un arbre devenu improductif par vieillissement ou négligence. 
        On ramène donc la végétation à un volume plus faible et plus ramassé près du tronc.
      </p>

      <div>
        <img src="img\cp1.png" alt="" class="imgx">
        <img src="img\cp2.png" alt="" class="imgx">
        <img src="img\cp3.png" alt="" class="imgx">
      </div>
</body>
</html>