<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="\..\public\images\16.png" type="image/x-icon">
    <link href="/p22.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="img\16.png" alt="Logo" class="logo">
                    <span>Olivier</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/index">Accueil</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Les étapes du olive
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/cycles">Les cycles</a></li>
                            <li><a href="/etape2">Exigences Pedo-climatiques</a></li>
                            <li><a href="/plantation">Plantation</a></li>
                            <li><a href="/etape4">Opération culturales</a></li>
                            <li><a href="/Fertilisation">Fertilisation</a></li>
                        </ul>
                    </li>
                    <li><a href="/Maladie">Les maladies</a></li>
                    <li><a href="/finalisation">Finalisation</a></li>
                    <li><a href="/login" class="btn btn-default navbar-btn">Login</a></li>
                    <li><a href="#" class="dark-mode-toggle"><span class="glyphicon glyphicon-adjust"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 id="etape2">Exigences Pedo-climatiques</h1>
                <div>
                    <h4 style="color: rgb(50, 50, 83); text-align: center;">Température</h4>
                    <p style="text-align: center; font-size: 15px; margin-bottom: 30px;">
                        Les températures minimales doivent être supérieures à 6 ou 7°C,
                        seuil en dessous duquel les feuilles sont gravement affectées. <br>

                        Une température de -3 ou -4 °C peut abîmer les fruits ayant une teneur
                        élevée en eau et qui n’auraient pas encore été récoltés. Et ce, avec des conséquences négatives
                        sur la qualité de l’huile. <br>

                        Pour satisfaire les exigences en froid de la culture,
                        les températures doivent être inférieures à 11-12°C pendant au moins un mois durant le stade de
                        repos végétatif.. <br>

                        Les températures élevées durant la maturation du fruit provoquent
                        une augmentation de l’acide linoléique dans l’huile et une forte réduction de l’acide oléique.
                        <br>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <section id="mauvaise-herbed">
                    <div class="content">
                        <!-- section box -->
                        <div class="box">
                            <img src="img\ph.png" alt="monocotylédones">
                            <div class="content">
                                <div>
                                    <br>
                                    <h4 style="color: rgb(50, 50, 83); text-align: center;">Sol</h4>
                                    <p>
                                        Le système radiculaire de l’olivier exploite le sol dans une profondeur entre 50
                                        et 70 cm du sol.
                                        En outre, les racines peuvent atteindre une profondeur d’un mètre pour assurer
                                        une bonne exploitation
                                        du sol et de l’eau. Sur ce, le sol doit être bien adapté de point de vue
                                        physico-chimique pour permettre
                                        aux racines d’exploiter le maximum de volume.
                                    </p>
                                    <ul style="text-align: center;">
                                        <strong style="color: rgb(50, 50, 83);">Texture</strong> : Équilibre entre
                                        sable, limon et argile <br>
                                        <strong style="color: rgb(50, 50, 83);">Structure</strong> : Friable <br>
                                        <strong style="color: rgb(50, 50, 83);">Ph</strong> : 7-8
                                    </ul>
                                    <a href="#">Lire Plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-sm-6">
                <section id="mauvaise-herbed">
                    <div class="content">
                        <!-- section box -->
                        <div class="box">
                            <img src="img\temp.png" alt="dicotylédones">
                            <div class="content">
                                <div>
                                    <br>
                                    <h4 style="color: rgb(50, 50, 83); text-align: center;">Eau</h4>
                                    <p style="text-align: center;"> Les précipitations doivent être supérieures à 400
                                        mm,
                                        jusqu’à 600 mm ce qui représente les conditions suffisantes.
                                        Elles sont acceptables jusqu’à l'ordre de 800 mm et bonnes jusqu’à 1 000 mm.

                                    </p>
                                    <a href="#">Lire Plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="ligne" style="margin-top: -2%;"></div>

        <div class="row">
            <div class="col-xs-12">
                <h1 id="etape2" style="margin-top: -60px;">Opérations culturales</h1>
                <img src="img\oper.png" class="img2">
            </div>
        </div>
        <div class="ligne" style="margin-top: 2%;"></div>
        <div class="text-container">
            <h1 id="etape2">Travail du sol</h1>
            <p style="width: 50%; padding-top: 20px; margin-left: 10px;">
                Les travaux du sol sont complémentaires à la fertilisation minérale et organique ainsi que la
                satisfaction des besoins en eau.
                La bonne conduite du verger consiste à mettre les engrais à la disposition des racines, favoriser la
                pénétration de l’eau et son stockage dans le sol et empêcher le développement des adventices.
                Dans les conditions marocaines, deux opérations majeures sont signalées quant au travail du sol en
                olivier : le labour profond et le travail superficiel du sol.
            </p>

            <h4 style="color: aquamarine; margin-left: 15px;">Le labour</h4>
            <p style="width: 50%; margin-top: 10px; margin-left: 10px;">
                Le principal intérêt du travail profond du sol réside dans l’évitement de la concurrence hydrique à
                travers l’élimination de l’enherbement

                Dans les conditions marocaines, il est recommandé de réaliser le labour juste après l’opération de
                récolte. Pour ce faire, les outils à dent (Chisel) sont le plus souvent utilisés.
            </p>

            <h4 style="color: aquamarine; margin-left: 15px;">Travail superficiel du sol</h4>
            <p style="width: 50%; margin-top: 10px; margin-left: 10px;">
                Le travail superficiel du sol peut être effectué à l'aide d'un cover-crop, d'un cultivateur ou d'un
                scarificateur.
                Le nombre de passages peut varier selon le type de sol et le climat, mais l’objectif à atteindre est
                d’empêcher le développement des adventices et de limiter l’évaporation de l’eau du sol.

                Au moment du travail de sol, il est important de veiller à ne pas blesser les racines des plantes, en
                particulier dans les vergers conduits en irrigation goutte-à-goutte.

                Dans la pratique, on peut recommander :
            <ul>
                <li style="margin-left: 10px;">Avril-mai : 1 ou 2 passages après germination des adventices et avant
                    leur floraison.</li>
                <li style="margin-left: 10px;">Juillet-août : 1 ou 2 passages pour éviter la formation de la croute qui
                    favorise l’évaporation.</li>
            </ul>
            </p>
            <div class="image-container">
                <img src="/img/sol.png" alt="">
            </div>
        </div>

        <div class="ligne" ></div>
        <div class="text-container" style="margin-bottom: 8%;">
            <h1 id="etape2">Irrigation</h1>
            <p style="width: 50%; padding-top: 25px; margin-left: 49%; font-size: 15px;">
                L'olivier est une espèce assez résistante au stress hydrique, mais cela n'empêche que sa réponse
                positive à l'apport d'eau reste évidente, surtout lorsque les besoins sont satisfaits pleinement.
                <br>
                Grâce à la mise en place des subventions dans le cadre du Plan Maroc Vert, les oléiculteurs, installent
                de plus en plus des systèmes de goutte à goutte.
                <br>
                Pour élaborer un programme de gestion d'irrigation, il est fondamental de savoir les caractéristiques du
                sol et d'estimer les variables climatiques.
                <br>
                Dans certaines zones où les précipitations sont de 450 à 650 mm/an, les apports d'eau en gravitaire sont
                estimés à 6000 à 8500 m3/ha/an entre Mars et Septembre.
                <br>
                En irrigation localisée et pour une oliveraie de 400 arbres/ha, le volume d'eau apporté est de 3200
                m3/ha/an (goutteur d'un débit de 4 l/heure avec 4 goutteurs/arbre, 8-10 h par irrigation tous les 3
                jours). La durée de fonctionnement du système d'irrigation est de 5 à 6 mois/an.
            </p>
            <div>
                <img src="img\irrigation.png" alt="" style="margin-top: -28%; width: 500px; height: 300px; margin-left: 20px;">
            </div>
        </div>
    </div>

</body>

</html>