<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fertilisation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/Fertilisation.css">
  <script src="/script.js"></script>
  <link rel="shortcut icon" href="/img/15.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="/img/16.png" alt="o" class="logo">
              <span>Olivie</span>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/index">Accueil</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/index">Les étapes du olive
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/cycles">Les cycles</a></li>
                    <li><a href="/etape2">Exigences Pedo-climatiques</a></li>
                    <li><a href="/plantation">Plantation</a></li>
                    <li><a href="/etape4">Opération culturales</a></li>
                    <li><a href="/Fertilisation">Fertilisation</a></li>
                </ul>
              </li>
              <li><a href="/Maladie">Les maladies</a></li>
              <li><a href="/finalisation">Finalisation</a></li>
              <li><button class="btn btn-default navbar-btn"><a href="/login">Login</a></button></li></a>
              <li><a href="#" class="dark-mode-toggle"><span class="glyphicon glyphicon-adjust"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    <section id="a-propos">
        <h1 class="title">Fertilisation</h1>
        <div class="img-desc">
           <div class="left">
                <video src="img/1_fd4tXne2.mp4" autoplay loop></video>
           </div>
            <div class="right">
                <h3>La connaissance des caractéristiques du sol au moment de la programmation de la fertilisation est un atout qui permet d’assurer une fertilisation raisonnée, afin de : </h3>
                <p>Satisfaire les besoins nutritifs de l'olivier;
                    Minimiser l'impact sur l'environnement;
                    Obtenir une meilleure production en termes de quantité mais également de qualité;
                    Éviter les apports systématiques et excessifs de nutriments.
                     
                    L’analyse du sol doit être réalisée avant la plantation et prise en compte lors des plans de fertilisation postérieurs. Par la suite, les analyses régulières de la fertilité du sol sont utiles car elles permettent de connaître les variations de la teneur en nutriments disponibles.
                    
                    En plus de l’analyse du sol, l’analyse foliaire en olivier  permet un diagnostic précis de l’état nutritionnel de l'oliveraie et de formuler en conséquence des recommandations en matière de fertilisation.</p>
                <a href="/agenda">Voir Agenda</a>
            </div>
        </div>
        
    </section>

    <!-- section destination -->
    <section id="popular-destination">
        <h1 class="title">La pratique de la fertilisation de l’olivier se résume en 4 compartiments :</h1>
        <div class="content">
            <!-- box -->
            <div class="box">
                <img src="img/R.png" alt="">
                <div class="content">
                    <div>
                        <h4>La fertilisation organique</h4>
                        <p>L'apport de la matière organique est une pratique courante qui vise l'amélioration ou le maintien des propriétés physiques et chimiques du sol. Parallèlement, l'effet fertilisant des composés organiques est à prendre en compte. Cependant, la libération des nutriments surtout l'azote minéral, est étroitement liée aux conditions climatiques et la nature de la matière organique utilisée, ce qui rend difficile l'optimisation de la gestion de la fertilisation.</p>
                        <p>Dans les conditions des oliveraies marocaines, on estime qu'il faut environ 30 tonnes/ha de fumier bien décomposé ou compost pour relever le taux de matière organique d'un sol de 1%. Un fumier de qualité peut apporter au sol jusqu'à 3 kg N/T, 3 kg P20s/T et 7 kg K20/T.</p>
                        <a href="/agenda">Voir Agenda</a>
                    </div>
                </div>
            </div>
            <!-- box -->
            <!-- box -->
            <div class="box">
                <img src="/img/f.jpg" alt="">
                <div class="content">
                    <div>
                        <h4>La fertilisation du fond</h4>
                        <p>Compte tenu de leur faible mobilité dans le sol, le phosphore et le potassium sont apportés au sol en automne sous forme d’engrais solides. Au Maroc, les travaux menés par l’équipe du projet Fertimap (www. fertimap.ma) ont donnés naissance aux recommandations génériques des formules d'engrais solides adaptées aux besoins de l’olivier dans les différentes régions agricoles.</p>
                        <p>Généralement les apports d’engrais de fond se font au Maroc au début du printemps. Il est toutefois recommandé de faire ces apports bien avant.</p>
                        <a href="#">Voir Agenda</a>
                    </div>
                </div>
            </div>
            <!-- box -->
            <!-- box -->
            <div class="box">
                <img src="/img/ff.jpg" alt="">
                <div class="content">
                    <div>
                        <h4>La fertilisation foliaire</h4>
                        <p>Etant donné que l'activité physiologique de l'olivier soit lente, et que les oligoéléments ne sont pas assimilé à cause de la basicité de la plupart des sols marocains, il lui est difficile d'assurer ses besoins spécifiques durant les stades critiques de floraison, nouaison, et durcissement du noyau. Il est  recommandé donc de recourir à la fertilisation foliaire.</p>
                        <p>La fertilisation foliaire dans le cas de l’olivier concerne cinq éléments nutritifs : l'azote, le phosphore, le magnésium, le bore et le zinc.

                            Pour être efficace, les traitements foliaires doivent apporter les éléments sous une forme qui permet à la fois la pénétration dans les organes aériens et leur transport vers les sites d'activités.</p>
                        <a href="/agenda">Voir Agenda</a>
                    </div>
                </div>
            </div>
            <!-- box -->
             <!-- box -->
             <div class="box">
                <img src="img/ferti-bour-vf.png" alt="">
                <div class="content">
                    <div>
                        <h4>Programme de fertilisation </h4>
                        <p>Les plannings de fertilisation en olivier dépendent fortement de mode de conduite de la culture.</p>
                        <p>En Bour, compte tenu des conditions de pluies, le phosphore et le potassium sont apportés en totalité comme engrais de fond après la taille. L'azote quant à lui, il est apporté en un seul ou deux apports supplémentaires en Mai et Juin en fonction des pluies.  </p>
                        <a href="/agenda">Voir agenda</a>
                    </div>
                </div>
            </div>
            <!-- box -->
             <!-- box -->
             <div class="box">
                <img src="/img/trad-vf.png" alt="">
                <div class="content">
                    <div>
                        <h4>Programme de fertilisation</h4>
                        <p>En irrigation traditionnelle, le phosphore et le potassium sont apportés en intégralité en engrais du fond après la taille . </p>
                        <p>L'azote est répartie en plusieurs apports en mai, juin et juillet</p>
                        <a href="#">Voir Agenda</a>
                    </div>
                </div>
            </div>
            <!-- box -->
             <!-- box -->
             <div class="box">
                <img src="/img/pr.png" alt="">
                <div class="content">
                    <div>
                        <h4>Fertigation</h4>
                        <p>En cas d’olivier conduit en irrigation goutte-à-goutte, où l'ensemble des engrais sont apportés à la culture via le réseau d'irrigation (fertigation), les apports peuvent être répartis selon un planning de fertigation</p>
                        <p>Ce dernier doit prendre en considération la cinétique d'absorption des éléments le long du cycle ainsi que les analyses de l'eau. Dans ce contexte, nous proposons le programme ci-dessous (à titre indicatif). </p>
                        <a href="/agenda">Voir Agenda</a>
                    </div>
                </div>
            </div>
            <!-- box -->
        </div>
    </section>
    
</body>
</html>