<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Récolte et Transformation des Olives</title>
    <link rel="stylesheet" href="/styleFinalisation.css">
    <script src="/script.js" defer></script>
    <link rel="shortcut icon" href="/img/15.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/img/16.png" alt="Logo" class="logo">
          <span>Olivier</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/index">Accueil</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Les étapes du olive
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/cycles">Les cycles</a></li>
              <li><a href="/etape2">Exigences Pedo-climatiques</a></li>
              <li><a href="/plantation">Plantation</a></li>
              <li><a href="/etape4">Opération culturales</a></li>
              <li><a href="/Fertilisation">Fertilisation</a></li>
            </ul>
          </li>
          <li><a href="/Maladie">Les maladies</a></li>
          <li><a href="/finalisation">Finalisation</a></li>
          <li><button class="btn btn-default navbar-btn"><a href="/login">Login</a></button></li></a>
          <li><a href="#" class="dark-mode-toggle"><span class="glyphicon glyphicon-adjust"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
    <h2>Récolte et conservation</h2>
    <section id="slider">
      <div class="swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide" style="background-image: url('/img/recote.jpg');">
                  <div class="slide-content">
                      <h2>Récolte</h2>
                      <p>Pour assurer une récolte adéquate et obtenir en conséquence une production de qualité, il est impératif de prendre en considération les facteurs suivants :</p>
                  </div>
              </div>
              <div class="swiper-slide" style="background-image: url('/img/recote2.jpg');">
                  <div class="slide-content">
                      <h2>Méthodes de récolte</h2>
                      <p>Il existe plusieurs méthodes de récoltes qui dépendent des caractéristiques de l’exploitation et du marché auquel sont destinées les olives.</p>
                  </div>
              </div>
              <!-- Diapositive supplémentaire 1 -->
              <div class="swiper-slide" style="background-image: url('img/récote3.jpg');">
                  <div class="slide-content">
                      <h2>Méthodes de récolte </h2>
                      <p>La récolte au stade semi-noir qui permet d’obtenir un rendement avec un maximum d’huile de très bonne qualité;
                        Eviter la récolte au stade vert qui ne permet d’obtenir qu’un faible rendement en huile. Cette huile est aussi très riche en chlorophylle,  ce qui la rend très susceptible à la photo-oxydation. L’huile produite à ce stade présente un goût fruité légèrement amer.</p>
                  </div>
              </div>
              <!-- Diapositive supplémentaire 2 -->
              <div class="swiper-slide" style="background-image: url('/img/récote.jpg');">
                  <div class="slide-content">
                      <h2>Méthodes de récolte</h2>
                      <p>Limiter les blessures sur les olives lors des opérations de récolte. Pour les olives de table, une récolte manuelle soignée reste la plus appropriée. Alors que pour les olives à huile, et du fait du coût élevé de cette opération, le recours à d’autres méthodes de récolte tels que les vibreurs est souhaitable;
                        Adopter des méthodes permettant d’éviter un contact entre les olives et le sol (terre, cailloux, métaux, etc.).</p>
                  </div>
              </div>
              <!-- Diapositive supplémentaire 3 -->
              <div class="swiper-slide" style="background-image: url('/img/recote5.jpg');">
                  <div class="slide-content">
                      <h2>Méthodes de récolte</h2>
                      <p>L’indice de maturité des olives doit être pris en considération avant le déclenchement de la récolte de même que les autres dispositions citées dans le chapitre amélioration de la qualité et valorisation de la production.</p>
                  </div>
              </div>
          </div>
          <!-- Ajouter les contrôles du swiper -->
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
      </div>
    </section>
    
            
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-align-center"  id="methodes-recolte" scope="col"> Méthodes de récolte</th>
                        <th scope="col">Inconvénients&nbsp;</th>
                        <th scope="col">Avantages</th>
                        <th scope="col">Points d'amélioration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Récolte manuelle</td>
                        <td>-</td>
                        <td>Les fruits restent intacts&nbsp;</td>
                        <td>Pour améliorer ces méthodes traditionnelles :
                            <ul>
                                <li>Utiliser des filets sous les arbres pour récupérer les olives.&nbsp;</li>
                                <li>Utiliser les outils plastifiés pour limiter les dégâts.&nbsp;</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Récolte avec gaulage</td>
                        <td>Aggrave le phénomène d'alternance</td>
                        <td>-</td>
                        <td>""</td>
                    </tr>
                    <tr>
                        <td>Récolte avec un vibroculteur à maturité</td>
                        <td>Les branches se chevauchent à cause de la vibration&nbsp;</td>
                        <td>-</td>
                        <td>""</td>
                    </tr>
                    <tr>
                        <td>Récolte avec les peignes vibrants en plastiques</td>
                        <td>Affecte les branches fructifiantes&nbsp;</td>
                        <td>-</td>
                        <td>""</td>
                    </tr>
                    <tr>
                        <td>Récolte après chute naturelle des olives</td>
                        <td>Acidité élevée de l'huile</td>
                        <td>-</td>
                        <td>""</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<section id="transformation">
  <div class="container-fluid">
    <h2>Transformation des Olives</h2>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="transformation-box">
          <img src="/img/bro.jpg" alt="Le broyage" class="transformation-img">
          <h4>Le Broyage</h4>
          <p>Les broyeurs à marteau broient les olives entre des masses métalliques en mouvement et une surface fixe pour éviter l’échauffement de la pâte.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="transformation-box">
          <img src="/img/malaxage.png" alt="Le malaxage" class="transformation-img">
          <h4>Le Malaxage</h4>
          <p>La pâte obtenue est malaxée pour permettre à l'huile de s'extraire des cellules végétales. La cuve maintient la pâte à 25°C pour faciliter la séparation.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="transformation-box">
          <img src="img/transfo-vf.png" alt="La centrifugation" class="transformation-img">
          <h4>La Centrifugation</h4>
          <p>La centrifugation sépare l'huile de l'eau par rotation rapide. L'huile de qualité "vierge" est obtenue par pression, filtrée et stockée en cuves inox pour éviter l'oxydation.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
