<!DOCTYPE html>
<html lang="en">
<head>
  <title>olivier</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  <script src="/script.js"></script>
  <link rel="shortcut icon" href="/img/15.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body id="myPage">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="/img/16.png" alt="o" class="logo">
            <span>Olivie</span>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/index">Accueil</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="/index">Les étapes du olive
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/cycles">Les cycles</a></li>
                <li><a href="/etape2">Exigences Pedo-climatiques</a></li>
                <li><a href="/plantation">Plantation</a></li>
                <li><a href="/etape4">Opération culturales</a></li>
                <li><a href="/Fertilisation">Fertilisation</a></li>
              </ul>
            </li>
            <li><a href="/Maladie">Les maladies</a></li>
            <li><a href="/finalisation">Finalisation</a></li>
            <li><button class="btn btn-default navbar-btn"><a href="/login">Login</a></button></li></a>
            <li><a href="#" class="dark-mode-toggle"><span class="glyphicon glyphicon-adjust"></span></a></li>
            
          </ul>
        </div>
      </div>
    </nav>
<section class="home" id="home">

  <div class="content">
      <h3>Découvrez Des Olives </h3>
      <p>olives et nature </p>
      <a href="#" class="btn">Découvrez Plus </a>
  </div>

  <div class="video-container">
      <video src="/img/video1.mp4" id="video" loop autoplay muted></video>
  </div>

</section>
<section class="about" id="about">

  <h1 class="heading"> à propos</h1>

  <div class="container">

      <div class="image-container">
          <img src="/img/MM.jpg" alt="" class="image">
          <span class="control-prev">&lt;</span>
          <span class="control-next">&gt;</span>
          <div class="controls">
              <span class="control-btn" data-src="/img/olive1.jpg"></span>
              <span class="control-btn" data-src="/img/image55.jpg"></span>
              <span class="control-btn" data-src="/img/olivier 2.jpg"></span>
          </div>
      </div>

      <div class="content">
          <h3>
            Olivier</h3>
          <p>la culture de l'olivier joue un rôle crucial dans l'économie agricole du Maroc, représentant environ 5% du PIB agricole. Avec une superficie d'environ 1 045 000 hectares et une production atteignant jusqu'à 2 millions de tonnes en 2018, cette culture génère plus de 15 millions de journées de travail par an, soutenant environ 70 000 emplois permanents. Les principaux produits de cette culture sont l'huile d'olive, avec une production moyenne de 160 000 tonnes, et les olives de table, produisant environ 100 000 tonnes par an. Le Maroc se positionne également comme le deuxième exportateur mondial d'olives de table après l'Espagne, avec une moyenne annuelle d'environ 70 000 tonnes exportées. </p>
          <a href="#" class="btn"> Voir Plus</a>    
      </div>
  </div>
</section>
<br>
<br>
<br>
<section class="services" id="services">
  <div class="box-container">
      <div class="box">
          <img src="/img/cosolive.jpg" alt="">
          <h3>Cosmétique</h3>
          <p>L'huile d'olive est utilisée dans les cosmétiques pour ses propriétés hydratantes, adoucissantes et nourrissantes. Elle est présente dans les crèmes hydratantes, lotions pour le corps, baumes à lèvres et savons, grâce à sa richesse en antioxydants comme la vitamine E qui protège la peau et maintient son élasticité.</p>
          <a href="#" class="btn">Voir Plus</a>
      </div>

      <div class="box">
          <img src="/img/consoolive.jpg" alt="">
          <h3>Consommation</h3>
          <p>En tant qu'aliment, les olives sont appréciées pour leur saveur unique et leur texture. Elles sont consommées comme collation ou ajoutées aux salades, pizzas, pâtes et autres plats méditerranéens. Les olives marinées dans de l'huile d'olive et des herbes sont particulièrement populaires pour leur goût intense.</p>
          <a href="#" class="btn">Voir Plus</a>
      </div>

      <div class="box">
          <img src="/img/olivemed.jpg" alt="">
          <h3>Médical</h3>
          <p> L'huile d'olive est bénéfique pour la santé cardiovasculaire grâce à ses acides gras mono-insaturés. Elle peut réduire le risque de maladies cardiovasculaires dans le cadre d'une alimentation équilibrée. De plus, l'huile d'olive vierge extra possède des propriétés anti-inflammatoires qui aident à gérer l'inflammation corporelle.

          </p>
          <a href="#" class="btn">Voir Plus</a>
      </div>

  </div>

</section>
    <footer class="footer">
      <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
      </div>
      <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-facebook"></ion-icon>
          </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-instagram"></ion-icon>
          </a></li>
      </ul>
      <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#">Accueil</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Les étapes d'olivier</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Finalisation</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contacts</a></li>
      </ul>
      <p>&copy; Olivier | All Rights Reserved</p>
    </footer>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
    </html>