<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plantation</title>
    <link rel="stylesheet" href="/styleplantation.css">
    <script src="/script.js" defer></script>
    <link rel="shortcut icon" href="/img/15.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/img/16.png" alt="Logo" class="logo">
          <span>Olivier</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/index">Accueil</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Les étapes du olive
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/cycles">Les cycles</a></li>
              <li><a href="/etape2">Exigences Pedo-climatiques</a></li>
              <li><a href="/plantation">Plantation</a></li>
              <li><a href="/etape4">Opération culturales</a></li>
              <li><a href="/Fertilisation">Fertilisation</a></li>
            </ul>
          </li>
          <li><a href="/Maladie">Les maladies</a></li>
          <li><a href="/finalisation">Finalisation</a></li>
          <li><button class="btn btn-default navbar-btn"><a href="/login">Login</a></button></li>
          <li><a href="#" class="dark-mode-toggle"><span class="glyphicon glyphicon-adjust"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <h2>Période de plantation</h2>
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="/img/schema-plant.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Période de plantation:</h2>
            </div>
            <p>La période de plantation recommandée se situe entre Novembre et Mars. La meilleure époque de plantation pour l’olivier est celle qui coïncide avec le repos végétatif de l’arbre. La plantation peut aussi se faire tout au long de l’année quand l’eau est disponible.</p>
            <p>Schémas de plantation: Par définition, un schéma de plantation est une disposition des arbres dans un terrain agricole. Autrement dit, c'est le plan sur lequel les lignes et les arbres de la même ligne sont positionnées afin de définir le type/schéma de plantation.</p>
            <ul>
              <li>Plantation en Carré</li>
              <li>Plantation en rectangle</li>
              <li>Plantation en quinconce</li>
            </ul>
            <a href="#" class="button-voir-plus">Voir plus</a>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="spcl_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/img/a.png" alt="" class="img-responsive">
        </div>
        <div class="col-md-6">
          <p>Le choix d'un schéma de plantation dépend de plusieurs facteurs dont la topographie et l'orientation de terrain sont qualifiés comme les plus importants, car ils influencent énormément les performances agronomiques d'une plantation d'olivier. Le schéma de plantation doit ainsi, prendre en considération ces deux paramètres dans l'objectif d'assurer à l’arbre les meilleures conditions de croissance et de développement.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="/img/de.png" alt="" class="img-responsive">
        </div>
        <div class="col-md-6">
          <h5>Densité de plantation</h5>
          <p>On entend dire par densité de plantation d'olivier : le nombre d'arbres d'olivier par hectare. Cette densité dicte également le type de conduite du verger. On parle alors de conduite en extensive, conduite en semi-intensive, conduite en intensive et conduite en super-intensive.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="/img/ppa.png" alt="" class="img-responsive">
        </div>
        <div class="col-md-6">
          <img src="/img/ppb.png" alt="" class="img-responsive">
          <p>Pour déterminer la densité de plantation, il faut tenir compte du développement final de l’arbre et de son rythme de croissance. La distance de plantation doit permettre aux frondaisons de capter la quantité maximale d’énergie solaire, sans ombrage réciproque entre les arbres voisins.</p>
        </div>
      </div>
    </div>
  </section>

  <h1 class="operation-title">Opération de Plantation</h1>

  <section id="slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-content">
            <div class="row">
              <div class="col-md-6">
                <img src="/img/20221003_094959.jpg" alt="Préparation du sol" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h2>Opérations de préparation du sol</h2>
                <p>
                  Les opérations de travail du sol ont pour but de préparer un sol friable et adéquat pour accueillir les jeunes plants d’olivier. Ces opérations peuvent être résumées comme suit :
                  <ul>
                    <li><strong>Défoncement</strong> : Labour profond qui s’effectue sur une profondeur de 80 cm permettant l’ameublissement du sol sur l’épaisseur de terre arable occupée par la majorité des racines.</li>
                    <li><strong>Sous-solage</strong> : Réalisé sur une profondeur de 80 cm à l’aide d’une sous-soleuse. Il permet l’éclatement de la terre sans retournement tout en meublant et aérant le sol en profondeur.</li>
                    <li><strong>Labour à la charrue</strong> : Réalisé à l’aide d’une charrue à disque sur une profondeur allant de 30 à 40 cm, il permet l’amélioration de l’état structurel du sol et assure également une bonne circulation de l’eau ainsi que l’élimination des adventices, des repousses et l’enfouissement de leurs graines.</li>
                    <li><strong>Cover-cropage</strong> : Travail superficiel du sol qui se fait sur une profondeur de 10 à 15 cm et qui a pour objectif de niveler la surface et bien préparer le lit de plantation.</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-content">
            <div class="row">
              <div class="col-md-6">
                <img src="/img/pe.jpg" alt="Travaux de plantation" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h2>Travaux de plantation</h2>
                <p>
                  Préparation des plants Les pépiniéristes livrent des plants d'oliviers de 40 à 60 cm de hauteur dans des pots (ou conteneurs) en plastique. Il est conseillé d'écarter les plants de moins de 60 cm de hauteur.
                  <ul>
                    <li><strong>Préparation des plants</strong> : Les plants sont préparés en les trempant dans de l’eau pendant une nuit avant la plantation afin de favoriser le développement des racines.</li>
                    <li><strong>Déterrer les plants</strong> : Déterrer les plants en faisant attention de ne pas endommager les racines. Les plants doivent être exposés à l'air libre pendant quelques heures avant de procéder à la plantation.</li>
                    <li><strong>Planter</strong> : Le trou de plantation doit être de la taille de la motte du plant et légèrement plus large. Le plant est placé dans le trou à la même profondeur qu'il était dans le pot.</li>
                    <li><strong>Tasser et arroser</strong> : Après avoir placé le plant dans le trou, il faut tasser légèrement le sol autour du plant pour éliminer les poches d'air et arroser abondamment.</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-content">
            <div class="row">
              <div class="col-md-6">
                <img src="/img/tutage.png" alt="" class="img-responsive">
              </div>
              <div>
                <img src="/img/om.png" alt="">
                <h2>Mise en place des plants</h2>
                <p>
                  Le plant est légèrement enfoncé dans le sol d'environ 5 cm par rapport à la limite de la terre dans le pot. Une cuvette de 50 cm de diamètre environ est formée autour du plant. La cuvette est ensuite remplie d'eau afin de tasser la terre autour des racines
                </p>
              </div>
              <div class="col-md-6">
                <h2>Tuteurage</h2>
                <p>
                  
                  Le tuteurage consiste à implanter des tuteurs de préférence en bois à côté des plants pour les soutenir contre les vents dominants, assurer la formation correcte de la structure des arbres et le bon alignement des rangées, ce qui facilite la récolte mécanique.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>

</body>
</html>
