body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.agenda {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.months {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.month {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    font-size: 16px;
}

.month:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.details {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.details h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.details p {
    margin: 10px 0;
    line-height: 1.6;
}
#month-image {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.agenda-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: left;
}

.agenda-form label
 {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.agenda-form input[type="text"],
.agenda-form input[type="date"],
.agenda-form textarea {
    width: calc(100% - 20px); /* Ajuste la largeur en tenant compte du padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
    box-sizing: border-box;
}

.agenda-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.agenda-form button:hover {
    background-color: #45a049;
}