/* Style de la barre de navigation */
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand .logo {
    height: 40px;
    margin-right: 10px;
}

.navbar-nav > li > a {
    font-size: 16px;
    font-weight: 500;
}

.dropdown-menu > li > a {
    font-size: 14px;
    font-weight: 400;
}

.navbar-btn {
    margin: 8px 15px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .navbar-default {
    background-color: #444;
    border-color: #444;
}

.dark-mode .navbar-default .navbar-brand,
.dark-mode .navbar-default .navbar-nav > li > a,
.dark-mode .navbar-default .navbar-nav > li > a:hover,
.dark-mode .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.dark-mode .dropdown-menu {
    background-color: #555;
}

.dark-mode .dropdown-menu > li > a {
    color: #fff;
}

.top-image-section {
    margin-top: 60px; /* Ajustez la valeur selon vos besoins */
}

.zoom-image {
    width: 100%;
    height: auto;
}

/* Style de la section slider */
.slider_section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.slider_section .row {
    align-items: center;
}

.slider_section .detail-box {
    position: relative;
    z-index: 4;
    color: #ffffff;
    padding: 75px 0;
}

.slider_section .detail-box h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center; /* Centre le titre */
    color: #4CAF50; /* Couleur verte pour le titre */
}

.slider_section .detail-box p {
    margin-top: 15px;
    text-align: center; /* Centre le texte */
}

.slider_section .detail-box .slider-link {
    display: inline-block;
    padding: 10px 45px;
    background-color: #96bb7c;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #96bb7c;
    transition: all .2s;
    margin-top: 10px;
}

.slider_section .detail-box .slider-link:hover {
    background-color: transparent;
    color: #96bb7c;
}

.slider_section .slider_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

.slider_section .slider_bg_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_section .slider_bg_box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: greenyellow;
    background: linear-gradient(to right, rgba(24, 77, 71, 0.2), rgba(24, 77, 71, 0.75));
}

/* Style des sections spéciales */
.spcl_section .row {
    align-items: center;
}

.spcl_section .detail-box {
    margin-bottom: 35px;
}

.spcl_section .detail-box h5 {
    text-transform: uppercase;
    text-align: center; /* Centre le titre */
    color: #4CAF50; /* Couleur verte pour le titre */
    font-weight: bold; /* Met le titre en gras */
}

.spcl_section .img-box {
    display: flex;
    justify-content: center;
    background: green;
    background: linear-gradient(to bottom, transparent 70%, #184d47 70%);
    padding: 0 25px 45px 25px;
}

.spcl_section .img-box img {
    width: 100%;
}

/* Style des sections en mode sombre */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .navbar {
    background-color: #444;
    border-color: #444;
}

.dark-mode .navbar-default .navbar-brand,
.dark-mode .navbar-default .navbar-nav > li > a,
.dark-mode .navbar-default .navbar-nav > li > a:hover,
.dark-mode .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.dark-mode .dropdown-menu {
    background-color: #555;
}

.dark-mode .dropdown-menu > li > a {
    color: #fff;
}

.dark-mode .home {
    background-color: #222;
}

.dark-mode .home .content h3,
.dark-mode .home .content p {
    color: #fff;
}

.dark-mode .about {
    background-color: #333;
    color: #fff;
}

.dark-mode .about .heading {
    color: #4CAF50; /* Couleur verte pour le titre */
    font-weight: bold; /* Met le titre en gras */
}

.dark-mode .about .container .image-container .controls span {
    background: #29a5a3;
}

.dark-mode .about .container .content span {
    color: #29a5a3;
}

.dark-mode .about .container .content h3 {
    color: #ccc;
    text-align: center; /* Centre le titre */
    font-weight: bold; /* Met le titre en gras */
}

.dark-mode .about .container .content p {
    color: #999;
    text-align: center; /* Centre le texte */
}

/* Style pour le cycle végétatif */
.cycle-vegetatif {
    position: relative;
    padding: 60px 0;
}

.cycle-box {
    position: relative;
    z-index: 2; /* Assure que le contenu est au-dessus du fond flouté */
}

.cycle-bg {
    position: relative;
    overflow: hidden;
}

.cycle-bg-image {
    width: 100%;
    height: auto;
    filter: blur(8px); /* Applique un flou à l'image */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Assure que l'image est en arrière-plan */
    object-fit: cover;
}

.cycle-content {
    position: relative;
    background: transparent;/* Fond vert transparent pour le texte */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    margin-top: 60px; /* Pour espacer du contenu précédent */
}

.cycle-content h2 {
    font-size: 3rem; /* Augmenter la taille du titre */
    margin-bottom: 20px;
    text-align: center; /* Centre le titre */
    color: #4CAF50; /* Couleur verte pour le titre */
    font-weight: bold; /* Met le titre en gras */
}

.cycle-content p {
    font-size: 1.5rem; /* Augmenter la taille du texte */
    margin-bottom: 30px;
    text-align: center; /* Centre le texte */
}

.cycle-steps {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 2;
    justify-content: center; /* Centre les étapes horizontalement */
}

.step {
    flex: 1 1 22%;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    position: relative;
    max-width: 220px; /* Assure que toutes les images ont la même taille */
}

.step img {
    width: 100%;
    height: 150px; /* Fixer une hauteur uniforme pour les images */
    object-fit: cover; /* Assure que l'image s'adapte sans déformation */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.step img:hover {
    transform: scale(1.1);
}

.step h4 {
    margin-top: 10px;
    font-size: 1.5rem; /* Augmenter la taille du sous-titre */
    color: #4CAF50; /* Couleur verte pour le sous-titre */
    font-weight: bold; /* Met le sous-titre en gras */
}

.step p {
    font-size: 1rem; /* Augmenter la taille du texte descriptif */
    color: #333; /* Couleur du texte descriptif */
}
