<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de Fertilisation des Olives</title>
    <link rel="stylesheet" href="/styleagenda.css">
</head>
<body>
    
    <div class="agenda">
        <h1>Agenda de Fertilisation des Olives</h1>
        <div class="months">
            <button class="month" data-month="janvier">Janvier</button>
            <button class="month" data-month="fevrier">Février</button>
            <button class="month" data-month="mars">Mars</button>
            <button class="month" data-month="avril">Avril</button>
            <button class="month" data-month="mai">Mai</button>
            <button class="month" data-month="juin">Juin</button>
            <button class="month" data-month="juillet">Juillet</button>
            <button class="month" data-month="aout">Août</button>
            <button class="month" data-month="septembre">Septembre</button>
            <button class="month" data-month="octobre">Octobre</button>
            <button class="month" data-month="novembre">Novembre</button>
            <button class="month" data-month="decembre">Décembre</button>
        </div>
        <div id="details" class="details">
            <h2>Détails du Mois</h2>
            <img id="month-image" src="" alt="Image du Mois" style="max-width: 100%; height: auto; margin-bottom: 20px;">
            <p id="cycle-vegetatif"></p>
            <p id="fertilisation"></p>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
