<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="\..\public\images\16.png" type="image/x-icon">
  <link href="/p2.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="/script.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Fertigation</title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/img/16.png" alt="Logo" class="logo">
          <span>Olivier</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/index">Accueil</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Les étapes du olive
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/cycles">Les cycles</a></li>
              <li><a href="/etape2">Exigences Pedo-climatiques</a></li>
              <li><a href="/plantation">plantation</a></li>
              <li><a href="/Fertilisation">fertilisation </a></li>
            </ul>
          </li>
          <li><a href="/Maladie">Les maladies</a></li>
          <li><a href="/finalisation">Finalisation</a></li>
          <li><button class="btn btn-default navbar-btn"><a href="/login">Login</a></button></li></a>
          <li><a href="#" class="dark-mode-toggle"><span class="glyphicon glyphicon-adjust"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <div>
      <h1 style="position: relative; color: rgb(31, 218, 31);">Protection phytosanitaire</h1>
      <p class="parag">
        Malgré sa rusticité, le plant d'olivier est soumis à un nombre important d'ennemis de culture.
      </p><br>
      <p class="parag2">ennemis les plus importants et qui font objet d'une lutte phytosanitaire sont:
      </p>
      <div>
        <div class="warapper">
          <div class="image">
            <img src="img\ch.png" alt="">
            <div class="content">
              <h2>les champignons</h2>
              <p>
                principalement l'oeil de paon et la verticilliose
              </p>
            </div>
          </div>
          <div class="image" style="margin-left: 500px; margin-top: -331px; height: 658px;">
            <img src="img\ba.jpg" alt="">
            <div class="content" style="height:330px ">
              <h2>Les bactéries</h2>
              <p>
                la tuberculose...
              </p>
            </div>
          </div>
          <div class="image" style="margin-left: 1000px; margin-top: -656px; height: 658px;">
            <img src="img\mouch.jpg" alt="">
            <div class="content" style="height: 329px;">
              <h2>mouche d'olivier</h2>
              <p>
                Les insectes et acariens;le psylle, la teigne et la cochenille noire.
              </p>
            </div>
          </div>
        </div>
        <p class="parag2" style="margin-top: -290px;">
          Les mauvaises herbes peuvent également représenter un sérieux problème pour l’olivier et en particulier pour
          les jeunes vergers.
        </p>
      </div>
    </div>
  </div>

  <div>
    <h1 style="color: rgb(31, 218, 31);">Programme de protection de l'olivier </h1>
    <p class="parag">
      Le programme de protection de l'olivier doit se baser sur le principe de la lutte intégrée. Autrement dit,
      ce programme doit combiner entre les mesures culturales et la gestion intégrée des maladies et ravageurs.
    </p><br>
    <img src="img\cyc.png" alt="" style="margin-left: 190px;">

  </div>

  <div class="wrappery">
    <div class="imagey">
      <img src="img/9998324761.jpg" alt="Oeil de paon">
      <div class="contenty" style="height: 280px;">
        <h2>Oeil de paon</h2>
        <h6>Description</h6>
        <p>L’oeil de paon est la maladie cryptogamique qui peut occasionner le plus de dégâts car elle
          s'attaque non seulement aux feuilles mais également aux fruits. Elle apparaît sous forme de
          tâches arrondies brunes ou jaunes sur les feuilles adultes pouvant entraîner la défoliation
          de l'arbre.
        </p>
        <h6>Méthode de lutte</h6>
        <p>
          Traitement avec une bouillie cuprique en Février et Novembre.
        </p>
      </div>
    </div>

    <div class="imagey">
      <img src="img/pl.jpg" alt="Psylle de l'olivier" style="height: 280px;">
      <div class="contenty" style="height: 280px;">
        <h2>Le psylle de l’olivier</h2>
        <h6>Description</h6>
        <p>L’adulte mesure environ 3 mm de long, est de couleur brun-verdâtre, avec ses ailes repliés en triangle sur le
          dos.
          La larve, cachée sous l’amas cotonneux qu’elle sécrète est de couleur jaune pâle avec des tâches plus sombres
          sur l’abdomen.
        </p>
        <h6>Méthode de lutte</h6>
        <p>
          Aucune lutte chimique est nécessaire contre le psylle.
          Les auxiliaires (surtout les punaises prédatrices Anthocoris
          et Deraeocoris) sont très efficaces et limitent les populations
          jusqu'à ce que la présence du psylle et leur dégâts entrainés
          deviennent insignifiants
        </p>
      </div>
    </div>

    <div class="imagey">
      <img src="img/télécharger.jpg" alt="Mouche d'olivier" style="height: 280px;">
      <div class="contenty" style="height: 280px;">
        <h2 style="margin-top: 10px;">La mouche de l'olivier</h2>
        <h6 style="margin-top: 5px;">Description</h6>
        <p style="font-size: 10px;">L'adulte mesure de 4 à 5 mm de long et présente dans la partie apicale de
          l'aile une tâche noire caractéristique de l'espèce. L’abdomen est brun-orangé
          avec des tâches noires. Le thorax est foncé strié de bandes grises avec une barre blanche.
        </p>
        <h6 style="margin-top: 5px;">Méthode de lutte</h6>
        <p style="font-size: 10px;">
          L’approche la plus adéquate pour lutter contre la mouche consiste à estimer périodiquement l’état
          d’infestation de l’oliveraie. Le seuil de dégâts justifiant un traitement est de l’ordre de 15 %.
          <br> La lutte chimique demeure le moyen le plus répandu pour lutter contre la mouche de l’olivier.

          <br> En traitement d’hiver, utiliser un produit à base de Parathion méthyle ou une huile minérale.
          <br> En traitement préventif, utilisez des produits à base de Malathion.

          <br> Il est recommandé de s’orienter vers la lutte intégrée :
          <br> Réduction des doses de produits pour épargner les auxiliaires;
          <br> Choix de matières premières moins liposolubles pour réduire les résidus dans les fruits et l’huile;
          <br> Travail du sol en hiver pour exposer les pupes hivernantes au péril des prédateurs et des agents
          climatiques;
          <br> Piégeage massif des mouches.
        </p>
      </div>
    </div>

    <div class="imagey">
      <img src="img/verticiliose2.jpg" alt="Bactériose" style="height: 280px;">
      <div class="contenty" style="height: 280px;">
        <h2 style="margin-top: 10px;">La verticilliose</h2>
        <h6>Description</h6>
        <p>
          La Verticilliose, causée par le champignon Verticillium dahliae, affecte de nombreuses plantes, y compris
          l'olivier. Selon l'état de l'arbre, sa sensibilité et les conditions du sol, les dommages peuvent varier
          considérablement. Dans certains cas, ils se limitent au dépérissement de quelques rameaux, tandis que dans
          d'autres, ils peuvent conduire à la mort complète de l'arbre.
        </p>
        <h6>Méthode de lutte</h6>
        <p>
          Réduire les irrigations dans les oliveraies en sols lourds; modérer la fertilisation azotée;
          désinfecter les outils de taille; proscrire les cultures maraîchères ou oléagineuses en intercalaire.
        </p>
      </div>
    </div>

    <div class="imagey">
      <img src="/img/ba.jpg" alt="Verticilliose" style="height: 280px;">
      <div class="contenty" style="height: 280px;">
        <h2 style="margin-top: 10px;">La Tuberculose</h2>
        <h6>Description</h6>
        <p style="font-size: 13px;">
          Maladie bactérienne causée par la bactérie Pseudomonas savastanoï.
          Elle se caractérise par l’apparition d’excroissances de couleur marron,
          appelées chancres ou galles, qui se développent généralement sur les rameaux,
          mais également au niveau des charpentières et du tronc dans des cas plus sévères.
        </p>
        <h6>Méthode de lutte</h6>
        <p>
        <ul>
          <li style="font-size: 13px; margin-left: 17px;">Contrôler les parcs à bois des pépinières;</li>
          <li style="font-size: 13px; margin-left: 17px;">Désinfecter les outils de taille;</li>
          <li style="font-size: 13px; margin-left: 17px;">Eliminer les ramifications atteintes de galles et les brûler;
          </li>
          <li style="font-size: 13px; margin-left: 17px;">Traiter au cuivre les plaies occasionnées par la taille ou la
            chute de grêle;</li>
          <li style="font-size: 13px; margin-left: 17px;">Eviter le gaulage.</li>
        </ul>
        </p>
      </div>
    </div>

    <div class="imagey">
      <img src="img/oi.jpg" alt="Cochenille noire" style="height: 280px;">
      <div class="contenty" style="height: 280px;">
        <h2 style="margin-top: 10px;">La cochenille noire de l’olivier</h2>
        <h6>Description</h6>
        <p style="font-size: 13px;">
          La cochenille noire de l’olivier se reconnaît aisément à la couleur brune à noire de sa carapace sur laquelle
          un H est dessiné en relief, et à sa forme (très convexe, longue de 2 à 4 mm pour une largeur de 1 à 4 mm).
        </p>
        <h6>Méthode de lutte</h6>
        <p style="font-size: 13px;">
          La prévention repose sur la limitation des apports d'engrais azotés ainsi que des arrosages. <br>
          En curatif, les pulvérisations d'insecticides sont inefficaces, la cochenille étant protégée par sa carapace.
          <br>
          La lutte biologique donne de bons résultats, les principaux auxiliaires utilisés sont : Larves de Chrysopes,
          larves et adultes de coccinnelles coccidiphages, Metaphycus lounsburyi, Scutellista cyanea, araignées
        </p>
      </div>
    </div>
  </div>



</body>

</html>